* {
  box-sizing: border-box;
  --off-white: #F5F5F5;
  --blue-bg: #0B2434;
  --instructions: #4A4E74;
  --title-text: #2B283A;
  --button-bg: #5035FF;
  --button-bg-hover: #2a08ff;
}

body {
  background: var(--blue-bg);
  margin: 0;
  padding: 1.25rem;
  font-family: Karla, sans-serif;
  font-weight: bold;
  color: var(--title-text);
}

.container{
  background: var(--off-white);
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.dice{
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
}

.die{
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.die--num{
  font-size: 2rem;
}

.dice--row {
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: center;
}
.dice--row:first-of-type{
  margin-bottom: 1.25rem;
}

.selected{
  background: #59E391;
}

.header--title{
  text-align: center;
  font-size: 1.6rem;
  padding-top: 2.125rem;
}

.header--instructions{
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  padding: 1.25rem;
  color: var(--instructions);
}
.buttons{
  display: flex;
  margin-top: 26px;
  justify-content: center;
}
.buttons--roll-btn{
  width: 100px;
  height: 36px;
  background: var(--button-bg);
  font-weight: bold;
  border: none;
  color: var(--off-white);
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.buttons--roll-btn:hover{
  background: var(--button-bg-hover);
}
